.vscode
*.py
__pycache__
.venv
.venvg
mifi_base
DA_Task_1/*.csv
DA_Task_2/data/*.csv
MO_Task_5/clustering-physical-activity-data/*.csv
MO_END/Run200_Wave_0_1.txt
MO_END/clustering_results.csv
I_DL/dl2025miptml
ADL_Task_1/dl-captcha-new
E_ML/content
Task_END/*.txt
**/data/*.csv
**/data/*.tsv
**/data/*.xlsx
Pythone/CW-ML/dl.ipynb
RS/*.csv
RL_Task_3/expert_cheetah_dataset.h5
GAN_Task_1/data
GAN_Task_1/mnist_cvae_fake_2
GAN_Task_1/mnist_vae_fake
GAN_Task_1/mnist_vae_real
GAN_Task_1/mnist_сvae_real_2
GAN_Task_2/content
GAN_Task_2/generated_samples
GAN_Task_2/output
GAN_Task_2/real_samples
GAN_END/datasets