.vscode
*.py
*.pdf
__pycache__
.venv
.venvg
mifi_base
DA_Task_1/*.csv
DA_Task_2/data/*.csv
MO_Task_5/clustering-physical-activity-data/*.csv
I_DL/dl2025miptml
E_ML/content
Task_END/*.txt
**/data/*.csv
**/data/*.tsv
**/data/*.xlsx